{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Anori</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'css/css-cabecalho.css' %}">
<link rel="stylesheet" href="{% static 'css/css-logo-head.css' %}">
<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
    <h1>Anori</h1>
  	<a href="/">|Inicio|</a>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            	<b>Anori</b> é um município brasileiro do interior do estado do Amazonas, Região Norte do país. Pertencente à Mesorregião do Centro Amazonense e Microrregião de Coari, localiza-se a oeste de Manaus, capital do estado, distando desta cerca de 234 quilômetros.
				Ocupa uma área de 5 795,283 km²[2] e sua população, estimada pelo Instituto Brasileiro de Geografia e Estatística (IBGE) em 2014, era de 18 826 habitantes,[6] sendo assim o quadragésimo quinto município mais populoso do estado do Amazonas e o terceiro de sua microrregião.
            	<br>
            	
            	<div>
            		<img src="static/css/images/Bandeira_de_Anori-AM-BRA.png" alt="">
            		<img src="static/css/images/Brasão_de_Anori-AM-BRA.png" alt="">
            	</div>
				A história de Anori remete-se em conjunto com a história de seu vizinho o município de Codajás, quando foi criado através do decreto estadual número 1186, de 31 de dezembro de 1943 o distrito de Anori subordinado a administração de Codajás, em 29 de dezembro de 1956 foi elevado a categoria de município pela lei estadual nº 117, 
            	desmembrando-se de seu vizinho e formando o atual município. Seu nome vem da palavra indígena em Nheengatu[7], "Uanuri"[8] ou "Wanury" regionalmente conhecida como "Ánory", que significa "Tracajá macho", uma espécie de quelônio dulcícola de tom negro azulado com manchas amarelas, facilmente encontrada na região.
            	<br>
            	<a>Fonte:Wikipédia, a enciclopédia livre.</a>
            </div>
        </div>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'css/assets/js/bootstrap.min.js' %}"></script>
</body>
</html>