{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Detalhes do Anuncio</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'css/css-anunciodetalhe-carroucel.css' %}">
<link rel="stylesheet" href="{% static 'css/css-anuncio.css' %}">

<link rel="stylesheet" href="{% static 'css/css-anuncio-pontuacao.css' %}">

<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="header">
	  <h1>Anuncio | Detalhes</h1>
	  <a href="/">|Inicio|</a>
	</div> 
	<div class="container">
		<div class="col-md-6">
			<!-- bootstrap carousel -->
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
			  
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner col-md-3">
				{% for photo in foto%}
        		<div class="item{% if forloop.first %} active{% endif %}">
          			<img src="{{ photo.image.url }}" alt="Chania">
        		</div><!-- End Item -->
 				{% endfor%}
				
			  </div>
		
			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
			  
			  <!-- Indicators -->
			  
			</div>
			
    		<ul class="thumbnails-carousel clearfix">
    		  {% for photo in foto %}  
    		  	<li class="col-sm-2 thumbnail">
    		  		<img src="{{photo.image.url}}">
    		  	</li>
    		  	{% endfor %}
    		  </ul>
			</div>
			
			<div class="details col-md-6">
							
				<h3 class="product-title">{{anuncio.titulo}}</h3>
				<div class="rating">
					<div class="stars">
						<span class="glyphicon glyphicon-star"></span>
                   		<span class="glyphicon glyphicon-star"></span>
                   		<span class="glyphicon glyphicon-star"></span>
                   		<span class="glyphicon glyphicon-star"></span>
                   		<span class="glyphicon glyphicon-star-empty"></span>
					</div>
					<br>
					<span class="review-no">41 comentarios</span>
				</div>
				
				<p class="product-description">{{anuncio.descricao}}</p>
				<h4 class="price">Contato: <span>{{anuncio.contato}} </span></h4>
				<h4 class="price">Preço: <span>R$ {{anuncio.valor}}</span></h4>
				<p class="vote"><strong>91%</strong> gostaram do anuncio <strong>(87 votes)</strong></p>
				
					<div class="stars">
					  <form action="">
					    <input class="star star-5" id="star-5" type="radio" name="star"/>
					    <label class="star star-5" for="star-5"></label>
					    <input class="star star-4" id="star-4" type="radio" name="star"/>
					    <label class="star star-4" for="star-4"></label>
					    <input class="star star-3" id="star-3" type="radio" name="star"/>
					    <label class="star star-3" for="star-3"></label>
					    <input class="star star-2" id="star-2" type="radio" name="star"/>
					    <label class="star star-2" for="star-2"></label>
					    <input class="star star-1" id="star-1" type="radio" name="star"/>
					    <label class="star star-1" for="star-1"></label>
					  </form>
					</div>
				
				<div class="action">
					<button class="like btn btn-default" type="button"><span class="fa fa-star"></span> votar</button>
				</div>
			</div>
	</div>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'css/assets/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/anuncio.js' %}"></script>

</body>
</html>