{% load staticfiles %}
<html>
    <head>
        <title>Loteria</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/css-loteria.css' %}">
        <link rel="stylesheet" href="{% static 'css/css-table-result-mega.css' %}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <style>
			* {
			    box-sizing: border-box;
			}
			.row::after {
			    content: "";
			    clear: both;
			    display: table;
			}
			[class*="col-"] {
			    float: left;
			    padding: 15px;
			}
			.col-1 {width: 8.33%;}
			.col-2 {width: 16.66%;}
			.col-3 {width: 25%;}
			.col-4 {width: 33.33%;}
			.col-5 {width: 41.66%;}
			.col-6 {width: 50%;}
			.col-7 {width: 58.33%;}
			.col-8 {width: 66.66%;}
			.col-9 {width: 75%;}
			.col-10 {width: 83.33%;}
			.col-11 {width: 91.66%;}
			.col-12 {width: 100%;}
			html {
			    font-family: "Lucida Sans", sans-serif;
			}
			body {
			 font-family: calibri;
			}
			.header {
			    background-color: #9933cc;
			    color: #ffffff;
			    padding: 15px;
			}
			.menu ul {
			    list-style-type: none;
			    margin: 0;
			    padding: 0;
			}
			.menu li {
			    padding: 8px;
			    margin-bottom: 7px;
			    background-color: #33b5e5;
			    color: #ffffff;
			    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			}
			.menu li:hover {
			    background-color: #0099cc;
			}
			.flex-container {
			    display: -webkit-flex;
			    display: flex;
			    -webkit-align-items: flex-start;
			    align-items: flex-start;
			    width: 400px;
			    height: 250px;
			    background-color: lightgrey;
			}
			
			.flex-item {
			    background-color: cornflowerblue;
			    width: 100px;
			    margin: 10px;
			}
			.span3{
				padding: 15px;
			}
			
			.niceform{
				padding: 10px
			}
			
			</style>
        
    </head>
    
<body>

<div class="header">
  <h1>Loteria</h1>
  <a href="/">|Inicio|</a>
</div>

<div class="row">

<div class="col-3 menu">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="#">Lotofacil</a></li>
    <li><a href="#">Megasena</a></li>
  </ul>
</div>

<div class="col-9">  
  <div class="container">
  <div class="row col-md-6 col-md-offset-2 custyle">
	<div class="row">
            <!--  <p class="lead">Escolha a sua aposta:</p>-->
            <div id="tab" class="btn-group" data-toggle="buttons-radio">
              <a href="#megasena" class="btn btn-large btn-info active" >Megasena</a>
              <a href="#lotofacil" class="btn btn-large btn-info" >Lotofacil</a>
              <a href="#quina" class="btn btn-large btn-info" data-toggle="tab">Quina</a>
              <a href="#lotomania" class="btn btn-large btn-info"  data-toggle="tab">Lotomania</a>
            </div>
             
            <div class="tab-pane active" id="megasena">    
                <div class="row">
                      <form action="/loteria/" method="POST">{% csrf_token %}	                      	
							<table class="table table-striped custab">
							<h3>Mega-Sena</h3>
								<tr>
									<td><label class="niceform"> 01 <input type="checkbox" value="01" name="pesquisa"> </label></td>
									<td><label class="niceform"> 02 <input type="checkbox" value="02" name="pesquisa"> </label></td>
									<td><label class="niceform"> 03 <input type="checkbox" value="03" name="pesquisa"> </label></td>
									<td><label class="niceform"> 04 <input type="checkbox" value="04" name="pesquisa"> </label></td>
									<td><label class="niceform"> 05 <input type="checkbox" value="05" name="pesquisa"> </label></td>
									<td><label class="niceform"> 06 <input type="checkbox" value="06" name="pesquisa"> </label></td>
									<td><label class="niceform"> 07 <input type="checkbox" value="07" name="pesquisa"> </label></td>
									<td><label class="niceform"> 08 <input type="checkbox" value="08" name="pesquisa"> </label></td>
									<td><label class="niceform"> 09 <input type="checkbox" value="09" name="pesquisa"> </label></td>
									<td><label class="niceform"> 10 <input type="checkbox" value="10" name="pesquisa"> </label></td>
									
								</tr>
								<tr>
									<td><label class="niceform"> 11 <input type="checkbox" value="11" name="pesquisa"> </label></td>
									<td><label class="niceform"> 12 <input type="checkbox" value="12" name="pesquisa"> </label></td>
									<td><label class="niceform"> 13 <input type="checkbox" value="13" name="pesquisa"> </label></td>
									<td><label class="niceform"> 14 <input type="checkbox" value="14" name="pesquisa"> </label></td>
									<td><label class="niceform"> 15 <input type="checkbox" value="15" name="pesquisa"> </label></td>
									<td><label class="niceform"> 16 <input type="checkbox" value="16" name="pesquisa"> </label></td>
									<td><label class="niceform"> 17 <input type="checkbox" value="17" name="pesquisa"> </label></td>
									<td><label class="niceform"> 18 <input type="checkbox" value="18" name="pesquisa"> </label></td>
									<td><label class="niceform"> 19 <input type="checkbox" value="19" name="pesquisa"> </label></td>
									<td><label class="niceform"> 20 <input type="checkbox" value="20" name="pesquisa"> </label></td>
								
								</tr>
								<tr>
									<td><label class="niceform"> 21 <input type="checkbox" value="21" name="pesquisa"> </label></td>
									<td><label class="niceform"> 22 <input type="checkbox" value="22" name="pesquisa"> </label></td>
									<td><label class="niceform"> 23 <input type="checkbox" value="23" name="pesquisa"> </label></td>
									<td><label class="niceform"> 24 <input type="checkbox" value="24" name="pesquisa"> </label></td>
									<td><label class="niceform"> 25 <input type="checkbox" value="25" name="pesquisa"> </label></td>
									<td><label class="niceform"> 26 <input type="checkbox" value="26" name="pesquisa"> </label></td>
									<td><label class="niceform"> 27 <input type="checkbox" value="27" name="pesquisa"> </label></td>
									<td><label class="niceform"> 28 <input type="checkbox" value="28" name="pesquisa"> </label></td>
									<td><label class="niceform"> 29 <input type="checkbox" value="29" name="pesquisa"> </label></td>
									<td><label class="niceform"> 30 <input type="checkbox" value="30" name="pesquisa"> </label></td>
								
								</tr>
								<tr>
									<td><label class="niceform"> 31 <input type="checkbox" value="31" name="pesquisa"> </label></td>
									<td><label class="niceform"> 32 <input type="checkbox" value="32" name="pesquisa"> </label></td>
									<td><label class="niceform"> 33 <input type="checkbox" value="33" name="pesquisa"> </label></td>
									<td><label class="niceform"> 34 <input type="checkbox" value="34" name="pesquisa"> </label></td>
									<td><label class="niceform"> 35 <input type="checkbox" value="35" name="pesquisa"> </label></td>
									<td><label class="niceform"> 36 <input type="checkbox" value="36" name="pesquisa"> </label></td>
									<td><label class="niceform"> 37 <input type="checkbox" value="37" name="pesquisa"> </label></td>
									<td><label class="niceform"> 38 <input type="checkbox" value="38" name="pesquisa"> </label></td>
									<td><label class="niceform"> 39 <input type="checkbox" value="39" name="pesquisa"> </label></td>
									<td><label class="niceform"> 40 <input type="checkbox" value="40" name="pesquisa"> </label></td>
								
								</tr>
								<tr>
									<td><label class="niceform"> 41 <input type="checkbox" value="41" name="pesquisa"> </label></td>
									<td><label class="niceform"> 42 <input type="checkbox" value="42" name="pesquisa"> </label></td>
									<td><label class="niceform"> 43 <input type="checkbox" value="43" name="pesquisa"> </label></td>
									<td><label class="niceform"> 44 <input type="checkbox" value="44" name="pesquisa"> </label></td>
									<td><label class="niceform"> 45 <input type="checkbox" value="45" name="pesquisa"> </label></td>
									<td><label class="niceform"> 46 <input type="checkbox" value="46" name="pesquisa"> </label></td>
									<td><label class="niceform"> 47 <input type="checkbox" value="47" name="pesquisa"> </label></td>
									<td><label class="niceform"> 48 <input type="checkbox" value="48" name="pesquisa"> </label></td>
									<td><label class="niceform"> 49 <input type="checkbox" value="49" name="pesquisa"> </label></td>
									<td><label class="niceform"> 50 <input type="checkbox" value="50" name="pesquisa"> </label></td>
								
								</tr>
								<tr>
									<td><label class="niceform"> 51 <input type="checkbox" value="51" name="pesquisa"> </label></td>
									<td><label class="niceform"> 52 <input type="checkbox" value="52" name="pesquisa"> </label></td>
									<td><label class="niceform"> 53 <input type="checkbox" value="53" name="pesquisa"> </label></td>
									<td><label class="niceform"> 54 <input type="checkbox" value="54" name="pesquisa"> </label></td>
									<td><label class="niceform"> 55 <input type="checkbox" value="55" name="pesquisa"> </label></td>
									<td><label class="niceform"> 56 <input type="checkbox" value="56" name="pesquisa"> </label></td>
									<td><label class="niceform"> 57 <input type="checkbox" value="57" name="pesquisa"> </label></td>
									<td><label class="niceform"> 58 <input type="checkbox" value="58" name="pesquisa"> </label></td>
									<td><label class="niceform"> 59 <input type="checkbox" value="59" name="pesquisa"> </label></td>
									<td><label class="niceform"> 60 <input type="checkbox" value="60" name="pesquisa"> </label></td>		
								</tr>			
							</table>
							
							<div>
					        	<button type="submit" class="btn btn-success">Pesquisar</button>
					        </div>			        
						</form>  		  
                   
                    <div class="span9">
                    {{encontrado}}
                      <table class="table table-striped custab">
			           	  <thead>
						        <tr>
						            <th>Concurso</th>
						            <th>Data</th>
						            <th>Dezenas</th>
						            <th>Acertos</th>
						        </tr>
						    </thead>
			              <tbody>
			              {% for r, v in megasena_resposta.items %}
			              	
			                <tr>
			                    <td>{{r.num_concurso}}</td>
			                    <td>{{r.data_sorteio}}</td>
			                    <td>{{r.num_1}} {{r.num_2}} {{r.num_3}} {{r.num_4}} {{r.num_5}} {{r.num_6}}</td>
			                    <td>{{v}}</td>  
			                    </td>                                       
			                </tr>			                 
			                {% endfor %}
			              </tbody>
			            </table> 
                    </div>
                </div>
              </div>
	</div>
  </div>
  </div>
  </div>
 </div>
</body>
</html>  
        
        
        

       	
			