{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/recursos_municipais.css' %}">
<link rel="stylesheet" href="{% static 'css/social_butons.css' %}">
<link rel="stylesheet" href="{% static 'css/css-cabecalho.css' %}">

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="header">
    <h1>Radio Anori FM 104,9</h1>
    <a href="/">|Inicio|Recursos destinados aos Municipios</a>
</div>


<div class="container">
            <div class="col-sm-12">
			<legend class="text-center">Recursos Municipais</legend>
    		<div class="alert alert-danger">
    			<strong>ATENÇÃO!</strong> <a class="alert-link">Todos os dados apresentados aqui são consolidados até o mês de Outubro/2017 e
    			 foram extraidos do site da SEFAZ".</a>
  			</div>
                <div class="bs-calltoaction bs-calltoaction-success">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Anori</h1>
                            <div class="cta-desc">
                                <p>Transferências Estaduais <small>(ICMS + IPVA)</small>:	<big><strong>5.785.011,60</strong></big></p>
                                <p>Transferências Federais <small>(Royalties + IPI)</small>:	<big><strong>81.899,27</strong></big></p>
                            </div>
                        </div>
                        
                        <div class="col-md-3 cta-button">
                            <a class="btn btn-lg btn-block btn-success">Total: <big><strong>5.866.910,87</strong></big></a>
                        </div>
                        
                        <div>
                     		<ul style="list-style-type:none">
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-primary">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Anamã</h1>
                            <div class="cta-desc">
                                <p>Transferências Estaduais <small>(ICMS + IPVA)</small>:		<big><strong>5.192.286,11</strong></big></p>
                                <p>Transferências Federais <small>(Royalties + IPI)</small>:	<big><strong>73.610,79</strong></big></p>
                            </div>
                        </div>
                        
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-primary"><big><strong>5.265.896,90</strong></big></a>
                        </div>
                        
                        <div class="social">
							<ul style="list-style-type:none">
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-info">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Beruri</h1>
                            <div class="cta-desc">
                                <p>Transferências Estaduais <small>(ICMS + IPVA)</small>:		<big><strong>5.907.348,03</strong></big></p>
                                <p>Transferências Federais <small>(Royalties + IPI)</small>:	<big><strong>83.626,07</strong></big></p>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-info"><big><strong>5.990.974,10</strong></big></a>
                        </div>
                        
                        <div>
                     		<ul style="list-style-type:none">
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
                     </div>
                </div>
                
                <div class="bs-calltoaction bs-calltoaction-warning">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Codajas</h1>
                            <div class="cta-desc">
                                <p>Transferências Estaduais <small>(ICMS + IPVA)</small>:		<big><strong>7.844.202,59</strong></big></p>
                                <p>Transferências Federais <small>(Royalties + IPI)</small>:	<big><strong>111.043,09</strong></big></p>
                            </div>
                        </div>
                        
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-warning"><big><strong>7.955.245,68</strong></big></a>
                        </div>
                        
                        <div>
                     		<ul style="list-style-type:none">
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
			
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-danger">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Coari</h1>
                            <div class="cta-desc">
                                <p>Transferências Estaduais <small>(ICMS + IPVA)</small>:		<big><strong>41.801.766,67</strong></big></p>
                                <p>Transferências Federais <small>(Royalties + IPI)</small>:	<big><strong>678.310,64</strong></big></p>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-danger"><big><strong>42.480.077,31</strong></big></a>
                        </div>
                        
                        <div>
                     		<ul style="list-style-type:none">
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
                     </div>
                </div>

            </div>
        </div>
    
</body>

</html>