/*         Just for demo     */
body {
  padding: 10px;
  
}
#carousel-example-generic {
  display: inline-block;
  
}
.carousel-inner{
	height: 100%;
  	height: 400px;
	
}

.item img{
  width: 90%;
  height: 500px;
}
   
}
/*****************************/


/* Plugin styles */
ul.thumbnails-carousel {
	padding: 5px 0 0 0;
	margin: 0;
	list-style-type: none;
	
}
ul.thumbnails-carousel {
	display: inline-block;
}
ul.thumbnails-carousel li {
	margin-right: 5px;
	float: left;
	cursor: pointer;
}
.controls-background-reset {
	background: none !important;
}
.active-thumbnail {
	opacity: 0.4;
}
.indicators-fix {
	bottom: 70px;
}

.btn {
	background-color: blue;	
}