@grid-columns:              12;
@grid-gutter-width:         30px;
@grid-float-breakpoint:     768px;

.wrapper {
  .make-row();
}
.content-main {
  .make-lg-column(8);
}
.content-secondary {
  .make-lg-column(3);
  .make-lg-column-offset(1);
}


/**checkbox loteria*/

.niceform{
	padding: 10px;
}

/**lotofacil  */
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html {
    font-family: "Lucida Sans", sans-serif;
}
body {
 font-family: calibri;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    margin: 10px;
}
.span3{
	padding: 15px;
}

/** resultado lotofacil*/
h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}


/** 
Mega sena result
*/
.body-top {
  padding-top: 240px;
  
}

.body-bottom {
  padding-top: 60px;
  
}

.header {
  background-image: url('http://www.up-downbikes.it/images/Cool-Designs-HD-Wallpaper.jpg'); 
  background-size: cover; 
  padding-top: 100px;

}
.header-top {
  background-image: url('http://www.up-downbikes.it/images/Cool-Designs-HD-Wallpaper.jpg'); 
  background-size: cover; 
  padding-top: 100px;

}

.header-bottom{
  background-image: url('http://www.up-downbikes.it/images/Cool-Designs-HD-Wallpaper.jpg'); 
  background-size: cover; 
  padding-top: 100px;
  margin-bottom: 30px;

}

.header-text {
  margin-bottom: 0px;
  color: white;

}
.logo{
	background:#ff0;
}